<body>
  <div class="marcador">
    <div class="equipo equipo-local">
      <h2 class="nombre-equipo">
        <input type="text" [(ngModel)]="equipoLocal">
      </h2>
      <span class="goles">0</span>
    </div>
    <div class="tiempo">
      <select [(ngModel)]="tiempoSeleccionado" (change)="onTiempoCambiado($event.target.value)">
        <option value="1">1 minuto</option>
        <option value="2">2 minutos</option>
        <option value="5">5 minutos</option>
        <option value="personalizado">Personalizado</option>
      </select>
      <span id="tiempo-actual">00:00</span>
    </div>
    <div class="equipo equipo-visitante">
      <h2 class="nombre-equipo">
        <input type="text" [(ngModel)]="equipoVisitante">
      </h2>
      <span class="goles">0</span>
    </div>
  </div>
  <app-equipo></app-equipo>
</body>

